<%
let task = dashboard.getWidget('tensorflow-dataset-task');
let toggleParams = {};
%>
<link href="dashboard/vendor/gridster-js/jquery.gridster.min.css" rel="stylesheet">
<link href="dashboard/tensorflow-dataset/layouts/gridster/gridster.css" rel="stylesheet">
<link href="dashboard/tensorflow-dataset/widgets/task/styles.css" rel="stylesheet">

<script src="dashboard/vendor/gridster-js/jquery.gridster.min.js"></script>
<script src="dashboard/vendor/gridster-js/jquery.gridster.with-extras.min.js"></script>
<script src="dashboard/js/gridster-helper.js"></script>
<script src="dashboard/tensorflow-dataset/widgets/scripts.js"></script>

<script>
  window.ajaxQueue = $.when();
</script>

<div id="gridster" class="gridster dashboard-tasks"
     data-app="<%= app %>"
     data-layout="<%= layout %>">
  <ul>
    <li data-sizey="1" data-sizex="1" data-col="1" data-row="1">
      <%- partial(task.view, {
        widget: task,
        params: {
          id: 'datasets',
          title: 'The amount of data in the dataset',
        },
        redirect: 'registry/tensorflow-dataset@datasets',
        url: 'registry/api/datasets@tensorflow-dataset',
        urlData: {
          node: 'tensorflow-dataset@datasets',
          filter: []
        }
      })%>
    </li>

    <li data-sizey="1" data-sizex="1" data-col="1" data-row="1">
      <%- partial(task.view, {
        widget: task,
        params: {
          id: 'numbermodel',
          title: 'Number of models',
        },
        redirect: 'registry/tensorflow-dataset@model',
        url: 'registry/api/model@tensorflow-dataset',
        urlData: {
          node: 'tensorflow-dataset@model',
          filter: []
        }
      })%>
    </li>

  <div class="dashboard-widget-tool hidden">
    <button type="button" class="btn btn-default widget-toggle mr10"
            data-params="<%= JSON.stringify(toggleParams) %>">
      Виджеты
      <span class="caret"></span>
    </button>
  </div>
</div>

<script>
  (function () {
    var $tools = $('.dashboard-layout-tool');
    var $layouts = $tools.find('.dashboard-select-layout');
    $layouts.change(function () {
      Cookies.set('dashboard-layout', $layouts.val(), {
        expires: 30,
        path: ''
      });
      location.reload();
    });
    $('.dashboard-tools').append($tools);
  })();
</script>

<script>
  $(function () {
    var $gridster = $('#gridster');
    var $widgetToggle = $gridster.children('.dashboard-widget-tool').children();
    $('.dashboard-tools').prepend($widgetToggle);
    var helper = new GridsterHelper($gridster, {
      widget_base_dimensions: ['auto', 195],
      autogenerate_stylesheet: true,
      min_cols: 1,
      max_cols: 3,
      widget_margins: [20, 20],
      resize: {
        enabled: true
      }
    }, $widgetToggle);
  });
</script>